* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 1rem 'Roboto';
}

body {
    background: rgba(234, 255, 250, 0.315);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(34, 28, 34);
}

main.cards {
    display: flex;
    padding: 32px;
}

section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    max-height: 742px;
    margin-right: 25%;
    margin-left: 25%;
    background: rgb(251, 255, 0);
    border-radius: 25px;
    box-shadow: 25px 25px 50px -15px rgb(34, 28, 34);
}

h1 {
    color: black;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
}

fieldset.agrupamento {
    border: none;
    align-items: center;
    justify-items: center;
    margin-right: 0.3rem;
}

button#bntCalcule {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    padding: 0.2rem 1em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 105%;
}

div.campo{
    margin: 3px 2px;
}

div#resposta {
    background-color: rgb(17, 11, 2);
    color: rgb(240, 204, 158);
    padding: 0.3rem;
    border-radius: 8px;
}

div.resposta{
    background-color: rgb(17, 11, 2);
    color: rgb(240, 204, 158);
    padding: 3rem 5rem;
    border-radius: 8px;
}

/* 630 px vai ser utilizad um media query */
@media screen and (max-width:630px) {
    main.cards{
        padding: 0px 32px 0px 25px;
    }
    section.card{
        margin: 3px;
    }
}